<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Pratiksha's Portfolio</title>
  <link rel="icon" href="Image/engineer.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/about.css">
  
  <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body class="container-fluid body_section">
        <header>
              <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand brand-name" href="#">Pratiksha Gurav</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link headerachor" href="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link headerachor" href="about">About</a>
                      </li>
                   
                    <li class="nav-item">
                      <a class="nav-link headerachor" href="skill">Skills</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link headerachor" href="blog">Blog</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link headerachor" href="contact">Contact Me</a>
                    </li>
                  
                  </ul>
              </nav>
          </header>
          <section id=blog class="Section1">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <img class="about" src="Image/about5.jpg" alt="">
              </div>
              <div class="col-lg-6 col-md-6 about-heading">
                <h2 class="A-heading">About<span>Me</h2>
                  <h4>Graduate STUDENT</h4>
                  <p class="a-text">I am currentaly pursuing my under graduation in Ramand Arya DAV College Bhandup.My goal is to get a job a reputed comapany where I can improve my skills,experience,knowledge.My future goal is to geet a good position in a reputed comapny.As for my interest I enjoy playing kabaddi, listening songs, travelling,and I have a huge in editing videos.My strength is I am a self-motivated,hardworking and honest person.My professional skills and abilities.To work in a company with a professional work driven invironment where I can utilize $ apply my knowledge $ skills. That's all about me.</p>
                  </P>
                  
                  <a href="#" class="btn-box"More about me></a>
                </div>
              </section>
            </body>
</html>