<html>
    <head></head>
    <body>
        <h1>Message send successfully</h1>
        <a href="/contact" rel="noopener norefferer">Click here to get back to Contact Page`</a>
        <body>

     
    </html>
    

   